@{
    ViewData["Title"] = "Avance del COVID-19 a nivel mundial";
}


<h1 class="display-4 text-center">@ViewData["Title"]</h1>
<div id="container"></div>
<p>
    <label for="amount">Fecha seleccionada:</label>
    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>


<div class="mx-3 mt-3" id="slider"></div>

<div class="modal fade" id="modalGraficos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 1500px;" id="div-Modal">
      
    </div>
</div>

@section Scripts{

<script>
    $.get("/Home/GetDates", function (dates) {
        last = dates.length - 1;
        getDataByDate(dates[last]),
        $(function () {
            var init = new Date(dates[dates.length - 1]).getTime() / 1000;

            $("#amount").val((new Date(init * 1000).toDateString()));
        });
        
        $("#slider").slider({
            range: "max",
            min: new Date(dates[0]).getTime() / 1000,
            max: new Date(dates[dates.length - 1]).getTime() / 1000,
            value: new Date(dates[last]).getTime() / 1000,
            
            slide: function (event, ui) {
                $("#amount").val((new Date(ui.value * 1000).toDateString()));
                var date = new Date(ui.value * 1000)
                var year = date.getFullYear();
                var month = ("0" + (date.getMonth() + 1)).slice(-2);
                var day = ("0" + date.getDate()).slice(-2);
                getDataByDate(`${year}-${month}-${day}`);
            }
        });


    });

    function getDataByDate(date) {
        $.get("/Home/GetDataByDate?Date=" + date, function (countries) {
            loadMap(countries);
        });
    }

    function loadMap(countries) {
        var data = [];

        countries.forEach(pais => data.push({ name: pais.location, code3: pais.isoCode, value: pais.totalCases }));

        var mapData = Highcharts.geojson(Highcharts.maps['custom/world']);

        mapData.forEach(function (country) {
            country.id = country.properties['hc-key'];
            if (country.name == "United States of America") country.name = "United States";
        });

        Highcharts.wrap(Highcharts.Point.prototype, 'select', function (proceed) {
            proceed.apply(this, Array.prototype.slice.call(arguments, 1));
            var points = mapChart.getSelectedPoints();
            if (points.length) {
                points.forEach(function (p) {
                    getDataByCountry(p.name);
                });
            }
        });

        mapChart = Highcharts.mapChart('container', {
            chart: {
                height: 35 + "%"
            },
            title: {
                text: null
            },
            colorAxis: {
                min: 1,
                type: 'linear',
                minColor: '#92d14f',
                maxColor: '#7b0100',
                stops: [
                    [0, '#92d14f'],
                    [0.25, '#fec923'],
                    [0.5, '#fa9924  '],
                    [0.75, '#ea0001'],
                    [1, '#7b0100']
                ]
            },
            series: [{
                data: data,
                mapData: mapData,
                joinBy: ['iso-a3', 'code3'],
                name: 'Total Cases',
                allowPointSelect: true,
                cursor: 'pointer',
                states: {
                    select: {
                        color: '#000000',
                        borderColor: 'black',
                        dashStyle: 'shortdot'
                    }
                },
                borderWidth: 0.5
            }]
        });

    }

    function getDataByCountry(country) {
        $('#modalGraficos').modal('show');
        $.get('/Home/Country?country=' + country, function (data) {
            $('#div-Modal').html(data);
        });
    }

   

    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };
    var months =[];
    var dataTotalCases1 = [];
    var dataNewDeaths1 = [];
    var dataNewCases1 = [];
    var dataTotalDeaths1 = [];
    
   
</script>


}